@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestión de bienes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Navbar.css" />
    <link rel="stylesheet" href="~/css/Estilos.css" />
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container" style="display: flex;justify-content: center; align-items: center">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Gestion de Bienes</a>
        </div>
    </nav>



    <div class="container align-center" style="padding-top: 150px; text-align:center">
        <div class="container">
            <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Gestión de Bienes Cajamarca</h1>

            <p class="mbr-text pb-3 mbr-fonts-style display-5">
                Inicia Sesión o Regístrate Para Poder Usar La Aplicación Web
            </p>
            <div class="mbr-section-btn">
                <a class="btn btn-md btn-secondary display-4" href="/Auth/Login">Iniciar Sesión</a>
                <a class="btn btn-md btn-secondary display-4" href="/Auth/Create">Registrarse</a>
            </div>
        </div>
    </div>

</body>
</html>